node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

coverage/

dist/
build/

.cache/
.parcel-cache/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store

*.log

.npm

tmp/
temp/
*.tmp

.cypress/
.playwright/

eslintcache
prettier/

.nyc_output/

package-lock.json
yarn.lock
pnpm-lock.yaml
